<%= simple_form_for @holiday, 
    :url => url_for(:action => 'create', :controller => 'holidays'),
    :method => 'post' do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-md-2">
          <%= f.input :year %>
        </div>
        <div class="col-md-8">
          <%= f.input :title %>
        </div>
        <div class="col-md-2">
          <%= f.input :user_id %>
        </div>
      <div>
      <div class="col-sm-12">
        <div class="col-md-12">
          <%= f.input :description %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-md-6">
          <%= f.input :start_day %>
        </div>
        <div class="col-md-6">
          <%= f.input :end_day %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


