<%= simple_form_for @holiday,
    :url => url_for(:action => 'create', :controller => 'holidays'),
    :method => 'post' do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-md-2">
          <%= f.input :year,label:t('year')%>
        </div>
        <div class="col-md-8">
          <%= f.input :title,label:t('title')%>
        </div>
        <div class="col-md-2">
          <%= f.input :user_id,label:t('user')%>
        </div>
      <div>
      <div class="col-sm-12">
        <div class="col-md-12">
          <%= f.input :description,label:t('description')%>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-md-6">
          <%= f.input :start_day,label:t('start_day')%>
        </div>
        <div class="col-md-6">
          <%= f.input :end_day,label:t('end_day')%>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


