<p id="notice"><%= notice %></p>

<h1>Holidays</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Status</th>
      <th>Validator</th>
      <th>Validated at</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start day</th>
      <th>End day</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.year %></td>
        <td><%= holiday.status %></td>
        <td><%= holiday.validator_id %></td>
        <td><%= holiday.validated_at %></td>
        <td><%= holiday.title %></td>
        <td><%= holiday.description %></td>
        <td><%= holiday.start_day %></td>
        <td><%= holiday.end_day %></td>
        <td><%= holiday.user %></td>
        <td><%= link_to 'Show', holiday %></td>
        <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
        <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday', new_holiday_path %>
