<div class="block-section form-inline">
  <div class="panel panel-default panel-condensed">
    <div class="panel-heading separator">
      <i class="fa fa-search"></i>
      <div class="panel-title">
        Búsqueda 
      </div>
    </div>
    <div class="panel-body">
      <%= search_form_for @q do |f| %>

        <%= f.label :department_cont %>
        <%= f.search_field :department_cont %>

        <%= f.label :user_name_start %>
        <%= f.search_field :user_name_start %>


        <%= f.submit %>
      <% end %>


    </div> 
  </div>
</div>