<div class="block-section form-inline">
  <div class="panel panel-default panel-condensed">
    <div class="panel-heading separator">
      <i class="fa fa-search"></i>
      <div class="panel-title">
        <%=t('search')%>
      </div>
    </div>
    <div class="panel-body">
      <%= search_form_for @q do |f| %>

        <%= f.label :department_cont, t('department_contains') %>
        <%= f.search_field :department_cont %>

        <%= f.label :user_name_start, t('user_name_start_with')%>
        <%= f.search_field :user_name_start %>

        <%= f.label :year_cont, t('year_contains')%>
        <%= f.search_field :year_cont %>

        <%= f.submit t('search')%>
      <% end %>
    </div>
  </div>
  <%= render 'list_holidays', holidays: @holidays, q: @q %>
