<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:t('name') %>
    <%= f.input :lastname, label:t('lastname') %>
    <%= f.input :email, label:t('email')%>
    <%= f.input :department, label:t('department')%>
    <%= f.input :role, label:t('role')%>
  </div>

  <div class="form-actions">
    <%= f.button :submit%>
  </div>
<% end %>
