<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, t('name') %>
    <%= f.input :lastname, t('lastname') %>
    <%= f.input :email, t('email')%>
    <%= f.input :department, t('department')%>
    <%= f.input :role, t('role')%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
