<p id="notice"><%= notice %></p>

<h1>Public Holidays</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day</th>
      <th>Work calendar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_holidays.each do |public_holiday| %>
      <tr>
        <td><%= public_holiday.name %></td>
        <td><%= public_holiday.day %></td>
        <td><%= public_holiday.work_calendar %></td>
        <td><%= link_to 'Show', public_holiday %></td>
        <td><%= link_to 'Edit', edit_public_holiday_path(public_holiday) %></td>
        <td><%= link_to 'Destroy', public_holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Holiday', new_public_holiday_path %>
