<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @public_holiday.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @public_holiday.day %>
</p>

<p>
  <strong>Work calendar:</strong>
  <%= @public_holiday.work_calendar %>
</p>

<%= link_to 'Edit', edit_public_holiday_path(@public_holiday) %> |
<%= link_to 'Back', public_holidays_path %>
