<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Alpha - Holidays &amp; Builder</title>
    <!-- Load CSS files from apps/assets/stylesheets throw application.css file-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- app/assets/javascript/application.js -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="/assets/global/css/style.css" rel="stylesheet">
    <link href="/assets/global/css/theme.css" rel="stylesheet">
    <link href="/assets/global/css/ui.css" rel="stylesheet">
    <link href="/assets/admin/layout1/css/layout.css" rel="stylesheet">
    <!-- BEGIN PAGE STYLE -->
    <link href="/assets/global/plugins/metrojs/metrojs.min.css" rel="stylesheet">
    <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <!-- END PAGE STYLE -->
    <script src="/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body class="fixed-topbar fixed-sidebar theme-sdtl color-default dashboard">
    <section>
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar">
        <div class="logopanel">
          <h1>
            Alpha - Holidays
          </h1>
        </div>
        <div class="sidebar-inner">
          <div class="logo">
            <%if !nil%>
              <a href="/holidays"><img src="/assets/global/images/logo/holiday.jpg" width="80%"></a>
            <%else%>
              <a href="/holidays"><img src="/assets/global/images/logo/holiday.jpg" width="100%"></a>
            <%end%>
          </div>
          <div class="sidebar-top">
            <form action="/users" method="post" class="searchform" id="search-results">
              <%if @search.present?%>
                <input type="text" class="form-control" name="search" placeholder=t('search_employee') value="<%=@search.mb_chars%>">
              <%else%>
                <input type="text" class="form-control" name="search" placeholder="Buscar empleado...">
              <%end%>
            </form>
          </div>
          <ul class="nav nav-sidebar">
            <li class="nav-active">
              <a href="/users"><i class="fa fa-users"></i><span><%=t'employee'%></span></a>
            </li>
            <li class="nav-parent">
              <a href="/holidays"><i class="fa fa-plane"></i><span><%=t'holidays'%></span><span class="fa arrow"></span></a>
              <ul class="children collapse ">
                <li><a href="/settings/users"><i class="fa fa-check"></i><%=t'validate'%></a></li>
                <li><a href="/holidays/new"><i class="fa fa-question"></i><%=t'request'%></a></li>
                <li><a href="/holidays/index"><i class="fa fa-search"></i><%=t'search'%></a></li>
              </ul>
            </li>
            <li class="nav-parent">
              <a href="/work_schedule"><i class="fa fa-calendar"></i><span><%=t'work_schedule'%></span></a>
            </li>
          </ul>
          <div class="sidebar-footer clearfix">
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
            <i class="icon-size-fullscreen"></i></a>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR -->
      <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
          <div class="header-left">
          </div>
          <div class="header-right">
            <ul class="header-menu nav navbar-nav">
              <!-- BEGIN USER DROPDOWN -->
              <li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-globe"></i>
                <span><%=t'lenguage'%></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" data-lang="en"><img src="/assets/global/images/flags/usa.png" alt="flag-english"> <span><%=t'english'%></span></a>
                  </li>
                  <li>
                    <a href="#" data-lang="es"><img src="/assets/global/images/flags/spanish.png" alt="flag-english"> <span><%=t'spanish'%></span></a>
                  </li>
                </ul>
              </li>
              <!-- END MESSAGES DROPDOWN -->
              <!-- BEGIN USER DROPDOWN -->
              <li class="dropdown" id="user-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <%if current_user.present?%>
                  <%= image_tag current_user.avatar.url(:thumb) if current_user.avatar?%>
                <%else%>
                  <img src="/assets/global/images/avatars/user1.png" alt="user image">
                <%end%>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%if current_user.present?%>
                      <%= link_to t('my_profile'), edit_user_path(current_user), class: "icon-user" %>
                    <%end%>
                  </li>
                  <li>
                    <a href="#"><i class="icon-calendar"></i><span><%=t'my_holidays'%></span></a>
                  </li>
                  <li>
                    <a href="/logout"><i class="icon-logout"></i><span><%=t'exit'%></span></a>
                  </li>
                </ul>
              </li>
              <!-- END USER DROPDOWN -->
            </ul>
          </div>
          <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content page-thin">
          <div class="row">
            <%= yield %>
          </div>
          <div class="footer">
            <div class="copyright">
              <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">©</span> 2017 </span>
                <span>ALFATEC SISTEMAS S.L.</span>.
                <span><%=t'all_rights_reserved'%></span>
              </p>
              <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10"><%=t'support'%></a> | <a href="#" class="m-l-10 m-r-10"><%=t'terms_of_use'%></a> | <a href="#" class="m-l-10"><%=t'privacy_policy'%></a></span>
              </p>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END MAIN CONTENT -->
      <!-- BEGIN BUILDER -->
      <!-- END BUILDER -->
    </section>
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
    <script src="/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="/assets/global/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="/assets/global/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
    <script src="/assets/global/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
    <script src="/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="/assets/global/js/builder.js"></script> <!-- Theme Builder -->
    <script src="/assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="/assets/global/js/application.js"></script> <!-- Main Application Script -->
    <script src="/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="/assets/global/js/pages/search.js"></script> <!-- Search Script -->
    <!-- BEGIN PAGE SCRIPT -->
    <script src="/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="/assets/global/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- Context Menu -->
    <script src="/assets/global/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
    <!-- END PAGE SCRIPT -->
    <script src="/assets/admin/layout1/js/layout.js"></script>
  </body>
</html>

